* {
  font-family: 'Montserrat', sans-serif;
  color: #3a3846;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ded9dd;
  color: #3a3846;
}

header {
  height: 50px;
  background-color: #3a3846;
}

nav ul {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

nav li {
  display: inline;
}

nav li:nth-child(2) {
  padding: 2rem;
}

nav a {
  color: #fed38e;
  text-decoration: none;
}

nav a:visited{
  color: #fed38e;
}

nav a:hover {
  color: #639a88;
}

a {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  margin-left: 27px;
}

img {
  max-width: 500px;
  padding: 1rem;
}

p {
  font-size: 14px;
  padding: 1rem;
}

p::first-line {
  color: #3a5683;
}